<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="https://github.com/tuanflute275" target="_blank">Github</a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100047425502024" target="_blank">FaceBook</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>