@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="text-center box-title">
        <h3 class="title">Giới thiệu</h3>
        <nav class="breadcrumb text-center d-flex justify-content-center">
            <a class="breadcrumb-item default" asp-area="" asp-controller="Home" asp-action="About">Trang chủ</a>
            <span class="breadcrumb-item active">Giới thiệu</span>
        </nav>
    </div>
    <img class="card-img mt-3" src="~/images/blog.jpg" alt="image" />
    <div class="container mt-5">
        <div class="about_thumb">
            <h4 class="pt-3">
                Chúng Tôi Là Một Đơn Vị Tập Trung Vào Việc Cung Cấp Các Giải Pháp Cây Cảnh và Cây Xanh
            </h4>
            <p>
                Chúng tôi là một đơn vị chuyên cung cấp các giải pháp cây cảnh và cây xanh giá trị, tập trung vào việc mang lại trải nghiệm gần gũi với thiên nhiên cho người dùng. 
                Sự chú trọng của chúng tôi nằm ở việc tạo ra những không gian xanh độc đáo và tương tác, thu hút mọi ánh nhìn. 
                Chúng tôi tự hào là một thực thể đặc biệt trong lĩnh vực cây cảnh, hòa quyện sự sáng tạo với thiên nhiên một cách hoàn hảo.
            </p>
            <p>
                Tại cốt lõi, chúng tôi nhấn mạnh việc xây dựng nội dung chất lượng và những giải pháp cây xanh không thể so sánh. 
                Nhận thức được vai trò quan trọng của cây xanh trong việc tạo không gian sống và làm việc thoải mái, 
                chúng tôi không chỉ tạo ra những mẫu thiết kế hấp dẫn mà còn đảm bảo thông điệp về giá trị của cây cảnh được truyền tải một cách mạch lạc.
            </p>
            <p>
                Hơn nữa, sự chú trọng của chúng tôi còn mở rộng đến việc cung cấp những trải nghiệm gần gũi với thiên nhiên. 
                Chúng tôi hiểu rằng cây xanh có tác động tích cực đến tâm trạng và sức khỏe của con người, 
                vì vậy chúng tôi áp dụng các công nghệ tiên tiến để phát triển những giải pháp chăm sóc cây cối hiệu quả và bền vững, 
                mang lại giá trị thực cho người dùng.
            </p>
            <p>
                Với sự đổi mới và khả năng thích ứng, chúng tôi tự hào nhận lãnh từng dự án. 
                Với tầm nhìn hướng tới tương lai, chúng tôi cam kết định hình và nâng cao cách thức mà cây xanh 
                và thiên nhiên đóng góp vào sự thành công của khách hàng và đối tác của chúng tôi.
            </p>
            <img src="https://htmldemo.net/lukani/lukani/assets/img/about/about-us-signature.png" alt="" />
        </div>
    </div>

    <div class="banner-about position-relative">
        <img class="mt-5 w-100 banner"
             src="https://htmldemo.net/lukani/lukani/assets/img/about/about-us-policy-bg.jpg" alt="image" />
        <div class="container pt-4 my-5">
            <div class="row jsutify-content-center align-items-center content-about position-absolute py-5">
                <div class="col-md-4 icon pt-3">
                    <img src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon1.png" alt="image" />
                    <h4>Thiết kế theo yeu cầu</h4>
                    <p>
                        Chúng tôi chuyên thiết kế không gian xanh theo yêu cầu, mang lại góc xanh đẹp mắt cho ngôi nhà bạn. 
                        Đội ngũ chuyên gia hỗ trợ 24/7, sẵn sàng hiện thực hóa ý tưởng của bạn!
                    </p>
                </div>
                <div class="col-md-4 icon pt-3">
                    <img src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon2.png" alt="" />
                    <h4>Đảm bảo hoàn tiền 100%</h4>
                    <p>
                        Cây cảnh và cây xanh mang đến vẻ đẹp và không khí trong lành cho không gian sống. 
                        Chúng tôi cung cấp nhiều loại cây đa dạng, cam kết hoàn tiền 100% nếu bạn không hài lòng. 
                        Hãy để chúng tôi giúp bạn tạo dựng không gian xanh tươi!
                    </p>
                </div>
                <div class="col-md-4 icon pt-3">
                    <img src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon3.png" alt="" />
                    <h4>Hỗ trợ trực tuyến 24/7</h4>
                    <p>
                        Cây cảnh và cây xanh giúp làm đẹp không gian sống và cải thiện chất lượng không khí. 
                        Chúng tôi cung cấp nhiều loại cây và hỗ trợ trực tuyến 24/7. 
                        Liên hệ với chúng tôi bất cứ lúc nào để được tư vấn và chăm sóc cây tốt nhất!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row pt-5">
            <div class="col-md-4">
                <img class="w-100" src="https://htmldemo.net/lukani/lukani/assets/img/about/about2.jpg" alt="" />
                <h4>Chúng tôi làm gì?</h4>
                <p>
                    Chúng tôi cung cấp giải pháp toàn diện cho không gian xanh, bao gồm thiết kế, cung cấp và chăm sóc cây cảnh. 
                    Với đội ngũ chuyên gia tận tâm, chúng tôi giúp bạn lựa chọn và bố trí cây xanh phù hợp, 
                    tạo nên không gian sống tươi mát và đẹp mắt. Hãy để chúng tôi đồng hành cùng bạn trong hành trình mang thiên nhiên vào cuộc sống!
                </p>
            </div>
            <div class="col-md-4">
                <img class="w-100" src="https://htmldemo.net/lukani/lukani/assets/img/about/about3.jpg" alt="" />
                <h4>Sứ mệnh của chúng tôi</h4>
                <p>
                    Chúng tôi cam kết mang đến không gian sống xanh và trong lành thông qua cây cảnh. 
                    Sứ mệnh của chúng tôi là cải thiện chất lượng cuộc sống bằng sản phẩm đa dạng 
                    và dịch vụ hỗ trợ tận tình, giúp mỗi cây xanh nâng cao sức khỏe và tinh thần cho mọi người.
                </p>
            </div>
            <div class="col-md-4">
                <img class="w-100" src="https://htmldemo.net/lukani/lukani/assets/img/about/about4.jpg" alt="" />
                <h4>Lịch sử của chúng tôi</h4>
                <p>
                    Chúng tôi khởi đầu với sứ mệnh mang cây xanh đến không gian sống của mọi người. 
                    Qua nhiều năm, chúng tôi đã phát triển đa dạng sản phẩm và dịch vụ thiết kế không gian xanh, 
                    luôn nỗ lực vì sự hài lòng của khách hàng và gắn kết thiên nhiên với cuộc sống hàng ngày.
                </p>
            </div>
        </div>
    </div>
    <hr />
</main>