@model ShopApp.Data.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="content-page" class="content-page p-0" style="padding-top: 85px !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Chỉnh sửa danh mục</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CategoryId" />
                            <div class="form-group">
                                <label asp-for="CategoryName" class="control-label">Tên danh mục</label>
                                <input asp-for="CategoryName" id="slug" onkeyup="ChangeToSlug()" class="form-control" />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategorySlug" class="control-label">Tên slug</label>
                                <input asp-for="CategorySlug" class="form-control" />
                                <span asp-validation-for="CategorySlug" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryStatus" class="control-label">Trạng thái</label>
                                <select asp-for="CategoryStatus" class="form-control">
                                    <option value="1" selected="@(Model.CategoryStatus == 1)">Hiển thị</option>
                                    <option value="0" selected="@(Model.CategoryStatus == 0)">Tạm ẩn</option>
                                </select>
                                <span asp-validation-for="CategoryStatus" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Gửi</button>
                            <a asp-action="Index" class="btn btn-danger">Trở lại</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function ChangeToSlug() {
            var slug = document.getElementById("slug").value.trim();
            if (slug === "") {
                alert("Vui lòng nhập một giá trị hợp lệ.");
                return;
            }
            slug = slug.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            slug = slug.toLowerCase();
            slug = slug.replace(/ /g, "-");
            slug = slug.replace(/[^\w-]+/g, "");
            document.getElementById("CategorySlug").value = slug;
        }
    </script>
}