html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*avatar drop down css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.user-menu-wrap {
    position: relative;
    width: 36px;
}

.menu-container {
    visibility: hidden;
    opacity: 0;
}

.menu-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.user-menu {
    position: absolute;
    right: -60px;
    background-color: #fff;
    width: 300px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.user-menu .profile-highlight {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 16px;
    margin-bottom: 6px;
}

.user-menu .profile-highlight img {
    width: 48px;
    height: 48px;
    border-radius: 25px;
    object-fit: cover;
}

.user-menu .profile-highlight .details {
    display: flex;
    flex-direction: column;
    margin: auto 12px;
}

.user-menu .profile-highlight .details #profile-name {
    font-weight: 600;
    font-size: 16px;
}

.user-menu .profile-highlight .details #profile-footer {
    font-weight: 300;
    font-size: 14px;
    margin-top: 4px;
}

.user-menu .footer {
    border-top: 1px solid #e0e0e0;
    padding-top: 6px;
    margin-top: 6px;
}

.user-menu .footer .user-menu-link {
    font-size: 13px;
}

.user-menu .user-menu-link {
    display: flex;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 16px;
}

.user-menu .user-menu-link div {
    margin: auto 10px;
}

.user-menu .user-menu-link:hover {
    background-color: #f5f5f5;
    color: #333;
}

.user-menu:before {
    position: absolute;
    top: -27px;
    left: 228px;
    display: inline-block;
    content: "";
    border: 14px solid transparent;
    border-bottom-color: #e5e5e5;
}

.user-menu:after {
    position: absolute;
    top: -14px;
    left: 121px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
}
