@model ShopApp.Data.Log

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LogId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTation" class="control-label"></label>
                <input asp-for="WorkTation" class="form-control" />
                <span asp-validation-for="WorkTation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request" class="control-label"></label>
                <input asp-for="Request" class="form-control" />
                <span asp-validation-for="Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpAdress" class="control-label"></label>
                <input asp-for="IpAdress" class="form-control" />
                <span asp-validation-for="IpAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeLogin" class="control-label"></label>
                <input asp-for="TimeLogin" class="form-control" />
                <span asp-validation-for="TimeLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeLogout" class="control-label"></label>
                <input asp-for="TimeLogout" class="form-control" />
                <span asp-validation-for="TimeLogout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeActionRequest" class="control-label"></label>
                <input asp-for="TimeActionRequest" class="form-control" />
                <span asp-validation-for="TimeActionRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

